[Unit]
Description=Invidious (An alternative YouTube front-end)
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple

User=libertube
Group=libertube

WorkingDirectory=/home/libertube/libertube
ExecStart=/home/libertube/libertube/libertube -o libertube.log

Restart=always

[Install]
WantedBy=multi-user.target
